<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260590538790-o306bmj1vuvtju97v7satuvigt7dv8a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260590538790-o306bmj1vuvtju97v7satuvigt7dv8a9</string>
	<key>API_KEY</key>
	<string>AIzaSyAvb17b9-vnZmI8YPSg9VJ01gMKyo2Vbq8</string>
	<key>GCM_SENDER_ID</key>
	<string>260590538790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingFood</string>
	<key>PROJECT_ID</key>
	<string>shopping-food-c36df</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-food-c36df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260590538790:ios:e60b366da7dcfdd4cdd6e7</string>
</dict>
</plist>